/* NavBar.css */

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
  
.company-logo img {
    height: 80px; /* Adjust the height of the logo */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    text-align: center; /* Center align the text */
}

.navbar-menu li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    position: relative; /* Add positioning for the hover line */
    display: block; /* Make the link fill the entire space */
    padding: 30px; /* Add padding to make the "squares" */
}

.navbar-menu li a:hover {
    font-weight: bold;
}

.navbar-menu li a.active {
    font-weight: bold; /* Make the active link bold */
}

.navbar-menu li a.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%; /* Align the line at the center */
    transform: translateX(-50%); /* Center the line */
    width: 100%;
    height: 2px; /* Adjust the height of the hover line */
    background-color: black; /* Change the color of the hover line */
}

.navbar-buttons-right {
    display: flex;
    align-items: center;
}

.navbar-buttons-right button:hover {
    background-color: black;
}

.navbar-buttons-right button {
    background-color: rgb(71, 71, 71); /* Set button background color to black */
    color: white; /* Set button text color to white */
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
}

.navbar-buttons-right button:first-child {
    margin-left: 0;
}